.profile__img {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  position: relative;
}

.profile__img:hover {
  cursor: pointer;
  /*opacity: 0.6;*/
  /*transition: opacity 0.4s ease-out;*/
}
