.input__btn {
    max-width: 358px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-top: 48px;
}

.input__btn:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.4s ease-out;
}