.card__item-title {
    font-weight: 900;
    font-size: 24px;
    padding-right: 21px;
    padding-left: 21px;
    margin: 0;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}