.popup__close-btn {
    position: relative;
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 46px;
    height: 46px;
    background-image: url(../../../images/plus.svg);
    margin-right: -76px;
    margin-top: -73px;
    transform: rotate(45deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup__close-btn:focus {
    outline: none;
}

@media screen and (max-width: 540px) {
    .popup__close-btn {
        width: 36px;
        height: 36px;
        margin-right: -66px;
        margin-top: -63px;
    }
}