.list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 18px;
    padding: 0;
}

@media screen and (max-width: 920px) {
    .list {
        grid-template-columns: repeat(2, 282px);
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .list {
        grid-template-columns: repeat(1, 282px);
    }
}