.popup__button_form_picture {
    position: absolute;
    margin-top: -45px;
    margin-right: -45px;
    right: auto;
    top: auto;
}

@media screen and (max-width: 548px) {
    .popup__button_form_picture {
        margin-top: -33px;
        margin-right: -33px;
        right: auto;
        top: auto;
    }
}